{% set exercise = 1 %}
{% set solution = true %}
{% extends "views/_exercise.html" %}

{% block introduction %}
	<h1>Lazyloading images</h1>

	<p>Intersection Observer can be used to defer loading of images to when they are about to appear in the viewport.</p>
{% endblock %}

{% block html %}
	<section class="cc-html-playground">
		<img data-src="http://fillmurray.com/500/500" width="500" height="500" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/500" width="500" height="500" alt="Bill Murray">
		</noscript>
		<br>
		<img data-src="http://fillmurray.com/500/600" width="500" height="600" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/600" width="500" height="600" alt="Bill Murray" >
		</noscript>
		<br>
		<img data-src="http://fillmurray.com/500/700" width="500" height="700" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/700" width="500" height="700" alt="Bill Murray">
		</noscript>
		<br>
		<img data-src="http://fillmurray.com/500/800" width="500" height="800" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/800" width="500" height="800" alt="Bill Murray">
		</noscript>
		<br>
		<img data-src="http://fillmurray.com/500/900" width="500" height="900" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/900" width="500" height="900" alt="Bill Murray">
		</noscript>
				<br>
		<img data-src="http://fillmurray.com/500/1000" width="500" height="1000" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/1000" width="500" height="1000" alt="Bill Murray">
		</noscript>
		<br>
		<img data-src="http://fillmurray.com/500/1100" width="500" height="1100" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/1100" width="500" height="1100" alt="Bill Murray">
		</noscript>
		<br>
		<img data-src="http://fillmurray.com/500/1200" width="500" height="1200" alt="Bill Murray" data-lazyload>
		<noscript>
			 <img src="http://fillmurray.com/500/1200" width="500" height="1200" alt="Bill Murray">
		</noscript>
	</section>
{% endblock %}

{% block styles %}
	<style type="text/css">
	.cc-html-playground img {
		display: block;
		margin: 1rem auto;
	}
	.cc-html-playground img[data-lazyload] {
		background-color: #ccc;
	}
	.cc-html-playground img[data-lazyload]:not([src]) {
		padding: 1rem;
	}
	</style>
{% endblock %}

{% block scripts %}
	<script>
		const imgElements = document.querySelectorAll('img[data-lazyload][data-src]')
		if ('IntersectionObserver' in window) {
			const observer = new IntersectionObserver(intersectionHandler, {
				root: undefined, // container element, falls back to viewport
				rootMargin: '0px 0px 0px 0px', // offset in px or % around root to observe
				threshold: 0 // moment to trigger handler
			})
			Array.from(imgElements).forEach(imgElement => observer.observe(imgElement))
		} else {
			Array.from(imgElements).forEach(imgElement => setSrcFromDataSrc(imgElement))
		}

		function intersectionHandler (entries, observer) {
			entries.forEach(entry => {
				if (entry.intersectionRatio > 0) {
					const element = entry.target;
					setSrcFromDataSrc(element)
					observer.unobserve(element)
				}
			})
		}

		function setSrcFromDataSrc (imgElement) {
			imgElement.setAttribute('src', imgElement.getAttribute('data-src'))
			imgElement.removeAttribute('data-src')
		}
	</script>
{% endblock %}
