{% extends "views/_base.html" %}

{% block introduction %}
	{# TODO: add title and description of code class #}
	<h1>Code Class Intersection Observer</h1>

	<p></p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		{# TODO: add url of Google Slides presentation #}
		<iframe src="[URL]" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
		{# TODO: add url of YouTube stream #}
		<iframe width="560" height="315" src="[URL]" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
{% endblock %}
