{% extends "views/_base.html" %}

{% block introduction %}
	{# TODO: add title and description of code class #}
	<h1>Code Class Intersection Observer</h1>

	<blockquote cite="https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API">
		The <a href="https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API">Intersection Observer API</a> allows you to configure a callback that is called whenever one item, called a target, intersects either the device viewport or a specified element called, for the purpose of this API, the root element. Create the intersection observer by calling its <a href="https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver/IntersectionObserver">constructor</a> and passing it a reference to the callback function.
	</blockquote>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		<li><a href="/exercise-1">Exercise 1: Lazy loading images</a></li>
		<li><a href="/exercise-2">Exercise 2: Sticky elements</a></li>
		<li><a href="/exercise-3">Exercise 3: Read more expandable/collapsible elements</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		{# TODO: add url of Google Slides presentation #}
		<iframe src="https://docs.google.com/presentation/d/1EInQOITD7mC47Ficy2pZ-_14sNlhQLH7cuIE_m5QvII/edit?usp=sharing" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
		{# TODO: add url of YouTube stream #}
		<iframe width="560" height="315" src="[URL]" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
{% endblock %}
